$primary-color: #F29724;
$secondary-color: white;
$active-color: #010305;
$background-color: #f9f9f9;
$border-color: #ddd;
$sidebar-width: 250px;
$padding: 20px;
$button-padding: 10px 20px;
$button-margin: 10px 0;
$button-radius: 8px;
$max-width: 1200px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400');

.food {


  .main-content {
    background-color: #F4F2EE;
    padding: $padding;
    padding-left: 2%;

    @media (min-width: 768px) {
      margin-left: $sidebar-width;
    }

     h1 {
      padding-top: 2%;
      background: linear-gradient(to right, #F29724, #ca1023c4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 30px;
      font-family: 'Marck Script', cursive;

      @media (max-width: 768px) {
        padding-top: 15%;
      }
    }

    .category-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 2rem;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        display: none;
      }

      .btn {
        margin: $button-margin;
        padding: $button-padding;
        cursor: pointer;
        border: 2px solid rgb(174, 174, 174);
        border-radius: 9999px;
        background-color: rgb(243, 242, 242);
        color: rgb(87, 87, 87);
        transition: all 0.3s ease-in-out;

        &.active {
          background-color: black;
          color: white;
          border-color: transparent;
        }

        &:hover {
          background-color: white;
          color: black;
          box-shadow: 0 4px 8px 0 rgba(180, 180, 177, 0.9);
          transform: scale(1.05);
        }

        &.active:hover {
          background-color: #010305;
          color: white;
        }
      }
    }

    .mobile-menu {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }

      .menu-btn {
        background-color: white;
        color: rgb(9, 8, 8);
        padding: 10px 20px;
        width: 100%;
        border-radius: 5px;
      }

      .dropdown-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        margin-top: 20px;
        z-index: 10;
        width: 94%;

        .btn {
          margin-bottom: 5px;
          text-align: center;
        }
      }
    }

    .meal {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      width: 100%;
      max-width: $max-width;
      padding-top: 50px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      .meal-card {
     position: relative;
  padding: 90px 20px 20px;
  background-color: $background-color;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        &:hover {
          box-shadow: 0 4px 8px 0 rgba(180, 180, 177, 0.9);
          transform: scale(1.05);
        }

        h3 {
          font-size: 20px;
          padding-top: 30%;

        
          @media (max-width: 900px){
            padding-top: 45%;
          }
         
        }

        p {
          color: #059B77;
          font-size: inherit;
          font-weight: inherit;
        }

        .meal-img  img{
          position:absolute;
          top: -30px;
          left: 17%;
          width:63%;
          border-radius: 50%;
          transition: transform 0.6s ease-in-out;
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);

        }

        &:hover img {
          transform: rotate(360deg);
        }

        button {
          padding: $button-padding;
          border: none;
          border-radius: 9999px;
          background-color: rgb(6, 178, 6);
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: #04c085;
          }
        }
      }
    }
  } }